.news-title {
    display: inline;
    font-weight: bold;
    float : left;
    margin-right: 30px;
}

.hidden{
    visibility: hidden;
}

.simple {
	display: inline;
	margin-right: 30px;
}

.date {
	display: inline;
	float : right;
	text-decoration: underline; 
}

.comment-date {
	display: inline;
	text-decoration: underline; 
}

.tags {
	display: inline;
	color: grey;
	margin-right: 15px;
}

.comments {
	display: inline;
	color: red;
	margin-right: 15px;
}

.content {
	margin-left: 25px;
	margin-right: 25px;
}

.comment-text {
	background-color: #e6e6e6;
	margin-right: 50%;
}

.post-button {
	margin-right: 50%;
}

.pagination-link{
    display:inline-block;
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 1px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 3px;
}

.menu {
	display: inline;
	position: static;
	float: left;
    width: 15%;    
	border: solid 1px black;
	padding: 10px; 
	padding-left: 10px;
	padding-right: 20px;
	background-color: #EEEEEE;
}

.admin-page {
	display: inline-block;
	width: 75%;	
	border: solid 1px black;
	padding: 10px; 
	padding-left: 50px;
	padding-right: 30px;
}

.delete-comment-button{
    float: right;
}

.field {
	clear: both;
	text-align: right;
	line-height: 25px;
}

.edit-add label {
	float: left;
	padding-right: 10px;
}

.edit-add {
	width: 100%;
	float: left;
}

.news-selects {
	display: block;
}

.right-button {
	float: right;
}

.comment-area {
	margin-top: 30px;
}

.error {
	color: red;
}