.news-title {
    display: inline;
    font-weight: bold;
    float : left;
    margin-right: 30px;
}

.simple {
	display: inline;
	float : left;
	margin-right: 30px;
}

.date {
	display: inline;
	float : right;
	text-decoration: underline; 
}

.comment-date {
	display: inline;
	text-decoration: underline; 
}

.tags {
	display: inline;
	color: grey;
	margin-right: 15px;
}

.comments {
	display: inline;
	color: red;
	margin-right: 15px;
}

.content {
	margin-left: 25px;
	margin-right: 25px;
}

.comment-text {
	background-color: #e6e6e6;
	margin-right: 50%;
}

.post-button {
	margin-right: 50%;
}